<ul class="legend_colors">
	{{#legend_items}}
	    <li class="legend_colors_elem">
	        <span class="legend_choice {{color}}"></span><form><input class="legend_fio" type="text" name="new_fio" placeholder="имя" value="{{personname}}"></form>
	    </li>
    {{/legend_items}}
</ul>